@import '~@nio/ui-kit/dist/nio.css';
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/styles/vars';
@import './assets/styles/base';

/*    place your app-specific css below (or make component/view   */
/*    specific scss files and throw them in the css folder)       */

.data-holder {
  height: 160px;
  border-radius: 4px;
  overflow-y: auto;
}
